@import 'main';

/* Custom styles */
@font-face {
    font-family: 'JetBrainsMono Nerd Font';
    src: url('/assets/fonts/JetBrainsMono-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

code {
    font-family: 'JetBrainsMono Nerd Font', monospace;
}
