---
---

@import "main";

/* append your custom style below */
/* Custom styles */
@font-face {
    font-family: 'JetBrainsMono Nerd Font';
    src: url('/assets/fonts/JetBrainsMono-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* Universal Styling for Asciicast Containers */
.asciicast {
    font-family: 'JetBrainsMono Nerd Font', sans-serif; /* Example: Set font */
    width: 100%; /* Full width */
    height: 800px;
    margin: 20px auto; /* Centered with margin */
}


